<div class="row">
  <div class="col-md-12">

    <h2><%= @post.title %></h2>

    <p><%= @post.body.html_safe %></p>

    <div class="post-btns-box">
      <%= link_to "Back", admin_index_path, class: 'post-btns btn btn-default' %>
    </div>

  </div>
</div>


