<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Cienfuegos CMS</h1>
  <p>Cienfuegos CMS is an open source content management system. Is easy to use for website editors, giving him all
  the modern power tools to build kickass web apps. If you are a developer you will love it, easy to extend, easy to
  customize. Need more arguments ?</p>
  <div class="account-btns">
    <a href="#" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-th-list"></span> <span class="text-btn">Learn more</span>
    </a>
  </div>
</div>

<div class="row features-list">

  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
        <span class="glyphicon glyphicon-heart-empty glyphicon-lg"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Why choose Cienfuegos CMS ?</h4>
        <p class="text-justify"> Use Cienfuegos CMS to build evertithing from simple blogs to
        full-featured enterprise applications (coming soon).</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
        <span class="glyphicon glyphicon-cloud glyphicon-lg"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Modern Stack</h4>
        <p class="text-justify">Cienfuegos CMS use the state of the art tool and frameworks.
        From the advanced Bootstrap and mobile-first Bootstrap to the powerful and battle
        tested Ruby on Rails.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="media">
      <div class="pull-left">
        <span class="glyphicon glyphicon-briefcase glyphicon-lg"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Powerful Admin</h4>
        <p class="text-justify">Cienfuegos CMS brings to the admin a powerful set of tools
        designed specifically to be easy to use.</p>
      </div>
    </div>
  </div>

</div>
